<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Data Pegawai
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-list>
      <ion-item *ngFor="let item of dataPegawai">
        <ion-avatar slot="start">
          <img
            src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>
          <h1>{{item.nama}}</h1>
          <p>{{item.nik}}</p>
          <p>{{item.tglLahir}}-{{item.jenisKelamin}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="show()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
